@charset "UTF-8";

/* Typical Devices Breakpoints
-------------------------------
Mobile: 320px — 480px.
Tablets: 481px — 768px.
Laptops: 769px — 1024px.
Desktops: 1025px — 1200px.
TV: 1201px, and more.
*/
