@charset "UTF-8";

:root { /* variáveis*/
    --cor0: #F3F3F3;
    --cor1: #E3E3E3;
    --cor2: #BDBDBD;
    --cor3: #666666;
    --cor4: #444444;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    font-size: 13px;
    color: var(--cor3);
    background-color: var(--cor1);
}

/* header */
span#burguer {
    cursor: pointer;
    padding: 8px;
    color: white;
    display: block;
    text-align: center;
    background-color: black;
    box-sizing: border-box;
    border: 2px solid black;
}

span#burguer:hover {
    color: black;
    background-color: whitesmoke;
}

menu {
    display: none;    
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: rgb(90, 90, 90);
}

picture#img-header img {
    display: block;
    width: 90vw;
    padding: 10px;
    margin: auto;
    background-color: var(--cor0);
}

/* main */
main {
    width: 90vw;
    margin: auto;
    padding: 10px;
    background-color: var(--cor0);
}

/* content-main */
section#content-main {
    width: 100%;
}

section#content-main > article {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

div.data {
    display: inline-block;
    background-color: var(--cor1);
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    
}

section#content-main article h2 {
    display: none;
}

section#content-main picture img {
    display: block;
    width: calc(100% - 30px);
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.192); 
}

article p.desc {
    display: block;
    margin-top: 5px;
    line-height: 18px;
}

article a.cont-lendo {
    display: block;
    color: var(--cor4);
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
}

article a.cont-lendo::after {
    content: '\00A0\00BB';
}

article a.cont-lendo:hover {
    text-decoration: underline;
    color: var(--cor3);
}

article > aside {
    color: var(--cor4);
    font-size: 0.9em;
    line-height: 17.3px;
    background-color: var(--cor1);
    padding: 5px 10px;
}

article > aside a {
    color: black;
    text-decoration: none;
}

article > aside a:hover {
    color: var(--cor3);
    text-decoration: underline;
}

/* content-aside */
aside#content-aside {
    width: 100%;
}

aside#content-aside h2 {
    display: block;
    cursor: pointer;
    color: white;
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    box-sizing: border-box;
    border: 2px solid black;
    margin-top: 5px;
}

aside#content-aside h2:hover {
    color: black;
    background-color: whitesmoke;
}

aside#content-aside article ul {
    display: none;
    list-style-position: inside;
    list-style-type: none;
}

aside#content-aside article ul li {
    text-align: center;
    background-color: rgb(20, 20, 20);
    border-top: 2px solid gray;
}

aside#content-aside article ul li a {
    display: block;
    padding: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    text-decoration: none;
    
}

aside#content-aside article > ul > li > a:hover {
    background-color: rgb(90, 90, 90);
    
}

div#psItens {
    display: none;
}

div.ps-item {
    margin-top: 5px;
    
}

div.ps-item a {
    color: black;
    padding: 5px 10px;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 5px;
}

div.ps-item a:hover {
    background-color: white;
    border: 2px solid black;
}

div.ps-item h4 {
    margin-top: 25px;
    margin-left: 10px;
    height: 30px;
    font-size: 13px;
    font-weight: normal;
    
}

section#ltcontainer {
    display: none;
    width: 100%;
    margin: auto;
}

div#lt-items {
    display: flex;
    flex-wrap: wrap;
}

.lt-item {
    box-sizing: border-box;
    margin-top: 13px;
    margin-left: 13px;
    border: 2px solid black;
}

.lt-item:hover {
    border: 2px dashed black;
}

.lt-item img {
    width: 100%;
    height: 100%;
}

/* footer  */
footer {
    margin-top: 10px;
    padding: 10px 0;
    font-size: 12px;
    font-weight: 545;
    text-align: center;
    background-color: var(--cor0);
}

footer > p > a {
    color: var(--cor4);
    text-decoration: none;
}

footer > p > a:hover {
    color: var(--cor3);
    text-decoration: underline;
}